.spinner {
    font-size: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.bookContainer {
    z-index: 1;
    min-height: 400px;
    margin: 100px 10% 2% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seeImage {
    position: fixed;
    top: 25%;
    left: 30vw;
    z-index: 2;
    width: 40vw;
    height: 70vh;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 40px;
    animation: grow 0.5s ease-out;
}

.seeImage img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.fa-xmark {
    position: absolute;
    right: -34px;
    top: -43px;
    color: rgba(255, 0, 0, 0.628);
    font-size: 50px;
    cursor: pointer;
}

/* Mobile Respnsiveness */
@media only screen and (max-width: 1000px) {
    .seeImage {
        width: auto;
        left: 0;
        margin: 40px;
    }
}