
.container {
  min-height: 80vh;
  display: flex;
  margin: 2% 10%;
}

.imageContainer {
  flex: 1;
}

.imageContainer img {
  height: 100%;
  width: 90%;
}

.infoContainer {
  flex: 1;
  padding: 2% 0;
}

.infoContainer h4{
margin: 10px 0;
}

.infoContainer p{
margin: 10px 0;
font-size: 20px;
}

.spinner{
  font-size: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.price {
  font-weight: 600;
  font-size: 27px;
  color: teal;
};