.dummy {
    /* this class have no use */
    display: none;
}

.searchBar {
    /* height: 80px; */
    /* background-color: rgba(0, 128, 128, 0.683); */
    border-bottom: 3px solid #a57d40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    margin: 2% 3%;
    border-radius: 0 0 25px 25px;
}

.filter-button {
    /* width: auto; */
    height: 50px;
    width: 200px;
    background-color: #a57d40;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    border-radius: 22px;
    border: 2px solid rgba(0, 0, 0, 0.527);
}

.filter-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #a57d40;
}

.searchBar h2 {
    /* color: rgba(0, 0, 0, 0.7); */
    color: black;
    padding: 6px 10px;
    border: 2px solid #a57d40;
    border-radius: 20px;
}

.searchBar h2:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.6);

}

.input {
    height: 40px;
    border: 1.8px solid #a57d40;
    display: "flex";
    align-items: "center";
    margin-left: "25px";
    padding: "5px";
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.input input {
    border: none;
    outline: none;
    width: 550px;
    padding-left: 10px;
    height: 100%;
    font-size: 1.4em;
    border-radius: 20px;
}

.input:hover {
    transform: scale(1.1);
}

.orderBy {
    height: 50%;
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
}

.orderBy:hover {
    background-color: #a57d40;
}

#Books,
#Magazines {
    height: 15px;
    width: 15px;
    margin: 0 0 0 24%;
    cursor: pointer;
}

.row label {
    cursor: pointer;
}

.filter {
    min-height: 400px;
    width: 600px;
    background-color: teal;
    color: white;
    z-index: 2;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 40px;
}

.row {
    display: block;
    width: 100%;
    min-height: 100px;
    /* background-color: yellow; */
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    font-size: 1.2em;
    border-radius: 15px;
    padding: 0 20px;
}

.row button {
    height: 40px;
    width: 100px;
    font-size: 14px;
    padding: 0 1%;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 2px;
}

.row button:hover {
    background-color: #a57d40;
}

.search-icon {
    padding: 5px 10px 5px 0;
}

.apply-button {
    height: 47px;
    width: 150px;
    font-size: 14px;
    padding: 0 1%;
    cursor: pointer;
    position: relative;
    left: 30%;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #a57d40;
    color: black;
    font-size: 1.5em;
    border: 1.5px solid white;
}

.apply-button:hover {
    transform: scale(1.1);
}

/* ToolTip */
.tooltip {
    position: relative;
}

.tooltiptext {
    visibility: hidden;
    width: 310px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #a57d40;
    font-size: 1.3em;
    border-radius: 20px;
    /* padding: 15px 0 15px 15px; */
    position: absolute;
    z-index: 1;
    top: 130%;
    left: -30%;
    margin-left: -60px;
    z-index: 2;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* Mobile Respnsiveness */
@media only screen and (max-width: 1000px) {
    .searchBar {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
    }

    .filter-button {
        margin: 10px;
    }

    .searchBar h2 {
        margin: 10px;
    }

    .input input {
        width: 300px;
    }

    .filter {
        height: auto;
        width: 80%;
    }

    .row {
        flex-wrap: wrap;
        padding: 15px;
    }

    .row button {
        margin: 10px;
    }

    #Books,
    #Magazines {
        height: 15px;
        width: 15px;
        margin: 0;
        cursor: pointer;
    }

    .apply-button {
        left: 20%;
    }

    .tooltiptext {
        left: 0;
    }
}